.container {
  max-width: 1265px !important;
}

.v-container {
  max-width: 1265px !important;
}

@media (min-width: 1280px) {
  .v-container {
    max-width: 1500px !important;
  }
}

@media (min-width: 1920px) {
  .v-container {
    max-width: 1750px !important;
  }
}

.prohibit-drag {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}
