.header {
    z-index: 50;
    background: rgb(0 0 0 / 20%) !important;
    border-bottom: 1px solid color-mix(in srgb, var(--foreground) 10%, transparent);
}

.header-filter {
    backdrop-filter: blur(20px) brightness(1.1) saturate(1.2);
}

.header-drawer {
    position: relative;
}
