a:active,
a {
  text-decoration: none;
  color: var(--text-color);
  animation: all .25s;
}

a:hover {
  opacity: .9;
}

.u {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  text-decoration-skip-ink: auto;
  text-underline-offset: 3px;
}

.u:hover {
  text-decoration-color: hsl(from rgb(255, 255, 255) h s l / .3) !important
}